:root{
    /*the color that will be switch */
    --main-bg-color: white;
    --main-txt-color: black;
    --scdr-bg-color: lightgray;
    --scdr-txt-color: var(--main-txt-color);
}
@media (prefers-color-scheme:dark){
    body::after{
        content: 'dark';
        display: none;
    }
}
@media (prefers-color-scheme:light){
    body::after{
        content: 'light';
        display: none;
    }
}
body {
    min-height: 100vh;
    margin: 0;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    font: inherit;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}
header{
    margin:0;
    background-color: var(--scdr-bg-color);
    color: var(--scdr-txt-color);
    padding-bottom: 2px;
}
footer a{
    color: var(--scdr-txt-color)
}
header a{
    color: var(--scdr-txt-color)
}
footer{
    margin-top: auto;
    border-top:solid var(--scdr-txt-color);
    display: flex ;
    text-align: center;
    width: 100%;
    left: 0;
    background-color:var(--scdr-bg-color) ;
    color: var(--scdr-txt-color);
}
.footerleft{
    border-right: solid var(--scdr-txt-color);
    height: 100%;
    left:0;
    width:50%;
}
.footerright{
    border-left: solid var(--scdr-txt-color);
    height: 100%;
    right:0;
    width:50%
}
.themebutton{
    right:0;
    position:fixed
}
