:root{
    /*the color that will be switch */
    --main-bg-color: white;
    --main-txt-color: black;
    --scdr-bg-color: lightgray;
    --scdr-txt-color: black;
}
body {
    min-height: 100vh;
    margin: 0;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    font: inherit;
}
header{
    margin:0;
    background-color: var(--scdr-bg-color);
    color: var(--scdr-txt-color);
}
footer{
    margin-top: auto;
    border-top:solid var(--scdr-txt-color);
    display: flex ;
    text-align: center;
    width: 100%;
    left: 0;
    background-color:var(--scdr-bg-color) ;
    color: var(--scdr-txt-color);
}
.footerleft{
    border-right: solid var(--scdr-txt-color);
    height: 100%;
    left:0;
    width:50%;
}
.footerright{
    border-left: solid var(--scdr-txt-color);
    height: 100%;
    right:0;
    width:50%
}
.topbutton{
    border-radius: 25%;
    background-color: darkblue;
    cursor:pointer;
    right:0;
    bottom:0;
    height:5%;
    width:5%
}
.content{
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
}
